<div class="container">
  <mat-toolbar>
    <span>Add New User</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="form">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="width">
            <mat-label>User</mat-label>
            <input matInput autocomplete="off" formControlName="user">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img src="./assets/img/user.png" width="250" height="250" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="width">
            <mat-label>Name</mat-label>
            <input matInput autocomplete="off" formControlName="name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="width">
            <mat-label>Surname</mat-label>
            <input matInput autocomplete="off" formControlName="surname">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let type of gender" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button style="margin-right: 20px;">Cancel</button>
          <button mat-raised-button color="primary">Save</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
