<div class="container">
  <mat-toolbar>
    <span>Add New User</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form>
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="width">
            <mat-label>User</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="phone">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          Image
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Name
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Surname
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Gender
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Save And Cancel Button
        </mat-grid-tile>
      </mat-grid-list>

      <br />
      <br />
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
