<div class="body">
  <div class="login">
    <form [formGroup]="form">
      <img src="../../../assets/img/user.png" width="50%" />
      <h1>Login</h1>
      <mat-form-field class="width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput autocomplete="off" formControlName="phone">
      </mat-form-field>
      <mat-form-field class="width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" formControlName="password">
      </mat-form-field>
      <br />
      <button class="width button" mat-raised-button color="primary">Log In</button>
    </form>
  </div>
</div>
